################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Trouble In Company Town/.vs/Trouble In Company Town
